/* Basic */

.slide h2 {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 33px;
    padding: 0 24px;
    color: white;
    font: bold 50px/1 'Montserrat', sans-serif;
    background-color: var(--accent-color);
    min-height: 114px;
}

.slide h2:first-of-type {
    border-radius: 0 0 12px 12px;
}

.slide * + h2 {
    margin-top: 41px;
}

.slide p {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0 24px;
}

.slide p.note {
    color: var(--color-grey);
}

.slide figure {
    margin: 0;
}
