/* Types */

@import 'slide-list.css' screen;
@import 'slide-full.css' screen;

/* Content */

@import 'content/basic.css';
@import 'content/code.css';
@import 'content/footer.css';
@import 'content/inline.css';
@import 'content/lists.css';
@import 'content/quote.css';
@import 'content/table.css';

/* Elements */

@import 'elements/columns.css';
@import 'elements/copyright.css';
@import 'elements/cover.css';
@import 'elements/next.css';
@import 'elements/place.css';
@import 'elements/shout.css';
@import 'elements/spotlight.css';

/* Modifiers */

@import 'modifiers/clear.css';
@import 'modifiers/gray.css';
@import 'modifiers/black.css';

/* Slide */

.slide {
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: var(--slide-width);
    height: var(--slide-height);
    background-color: white;
    line-height: 1.3;
}

/* Number */

.slide:not(:first-of-type)::after {
    position: absolute;
    bottom: 0;
    right: 24px;
    box-sizing: border-box;
    counter-increment: slide;
    content: counter(slide);
    text-align: center;
}

.slide:first-of-type::after {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 24px;
    box-sizing: border-box;
    counter-increment: slide;
    content: counter(slide);
    text-align: center;
}

/* logo */

.logo {
    margin: 14px 24px 0px;
    width: 80px;
}

#cover h2 {
    background: none;
    margin: 0 0 0;
    color: white;
    font-size: 42px;
    max-width: 70%;
}

#cover p {
    margin: 12px 0 0;
    line-height: 20px;
    color: white;
    font-size: 18px;
    max-width: 70%;
}

#cover p a {  color: white;  }
#cover { background: url('../../pictures/bg.jpg'); background-size: cover;  }
